In [2]:
import pandas as pd 
import numpy as np

In [3]:
#Un DataFrame es una estructura de datos con dos dimensiones 
#en la cual se puede guardar datos de distintos tipos (como caractéres, enteros, valores de punto flotante, factores y más) en columnas.

datos = {'Nombre': ['Chuvi', 'Mrk', 'Manolo'], 'GarimbasTomadas': [1, 2, np.nan]}

dataframe = pd.DataFrame(datos)

print(dataframe)

print('\n')

#Info del dataframe (tipos etc)
print(dataframe.info())

print('\n')

#Estadísticas básicas
print(dataframe.describe())

print('\n')

#Verison más gráfica del dataframe
dataframe

   Nombre  GarimbasTomadas
0   Chuvi              1.0
1     Mrk              2.0
2  Manolo              NaN


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nombre           3 non-null      object
 1   GarimbasTomadas  2 non-null      float64
dtypes: float64(1), object(1)
memory usage: 180.0+ bytes
None


       GarimbasTomadas
count         2.000000
mean          1.500000
std           0.707107
min           1.000000
25%           1.250000
50%           1.500000
75%           1.750000
max           2.000000

   Nombre  GarimbasTomadas
0   Chuvi              1.0
1     Mrk              2.0
2  Manolo              NaN

In [4]:
#Series: es por así decirlo una columna de la tabla del dataframe 
#De ejemplo usaremos una series de horas gastadas en cada videojuego

hours = pd.Series([21.8, 89.0, 12.4, 56.8, 123.4])

#El tipo
hours

#Nombre de la Serie
hours.name = 'Horas gastadas en videojuegos'

print(hours)

hours.dtype

#Las series son como arrays
hours.values
hours[0]

#Informacion del array e indexación de valores a cada valor de la Series
hours.index

hours.index = [
    'Dark Souls',
    'The Last Of Us',
    'FIFA 24',
    'God Of War',
    'F1 24',
]

hours

#Otras maneras
pd.Series({
    'Dark Souls': 21.8,
    'The Last Of Us': 89.0,
    'FIFA 24': 12.4,
    'God Of War': 56.8,
    'F1 24': 123.4,
}, name = 'Horas en videojuegos')

#hours['Dark Souls', 'FIFA 24'] enseña sus horas
#hours.iloc[[0, 1]]
#hours.iloc[-1] empieza por el final

0     21.8
1     89.0
2     12.4
3     56.8
4    123.4
Name: Horas gastadas en videojuegos, dtype: float64

Dark Souls         21.8
The Last Of Us     89.0
FIFA 24            12.4
God Of War         56.8
F1 24             123.4
Name: Horas en videojuegos, dtype: float64

In [32]:
#Serie con una serie
newSeries = pd.Series(hours, index = ['FIFA 24', 'Torrente 2', 'GTA IV'])

print(newSeries)

#Slice de las series
limitHours = hours['The Last Of Us' : 'God Of War']

print('\n')

print(limitHours)

FIFA 24       12.4
Torrente 2     NaN
GTA IV         NaN
Name: Horas gastadas en videojuegos, dtype: float64


The Last Of Us    89.0
FIFA 24           12.4
God Of War        56.8
Name: Horas gastadas en videojuegos, dtype: float64

In [50]:
#Booleanos para filtrar 
print(hours > 45)

print('\n')

print(hours[hours > 120])

print('\n')

#La media
print('La media de horas: ', hours.mean())

print(hours[hours > hours.mean()])

print(hours[(hours > 20) & (hours < 120)])

print('Media de TLOU a GOW: ', hours['The Last Of Us' : 'God Of War'].mean())
print('Media de TLOU y GOW:', hours.loc[['The Last Of Us', 'God Of War']].mean())


print('\n')

#Desviación
hours.std()

Dark Souls        False
The Last Of Us     True
FIFA 24           False
God Of War         True
F1 24              True
Name: Horas gastadas en videojuegos, dtype: bool


F1 24    123.4
Name: Horas gastadas en videojuegos, dtype: float64


La media de horas:  60.67999999999999
The Last Of Us     89.0
F1 24             123.4
Name: Horas gastadas en videojuegos, dtype: float64
Dark Souls        21.8
The Last Of Us    89.0
God Of War        56.8
Name: Horas gastadas en videojuegos, dtype: float64
Media de TLOU a GOW:  52.73333333333333
Media de TLOU y GOW: 72.9

46.35053397750667

In [54]:
#Modificando Series
print(hours * 60)

print('\n')

hours['Dark Souls'] = 150.7

print(hours)

Dark Souls        9042.0
The Last Of Us    5340.0
FIFA 24            744.0
God Of War        3408.0
F1 24             7404.0
Name: Horas gastadas en videojuegos, dtype: float64


Dark Souls        150.7
The Last Of Us     89.0
FIFA 24            12.4
God Of War         56.8
F1 24             123.4
Name: Horas gastadas en videojuegos, dtype: float64